{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      {{ message }}
      <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
    </div>
  {% endfor %}
{% endif %}

<div class="docs-section center" style="border-top:none">
    <h6 class="docs-header">Change Password</h6>

    <form method="post" action="{% url 'password' %}">
      {% csrf_token %}
      {{ form.id }}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-danger{% endif %}">
          <label for="{{ field.label }}" class="col-sm-3 control-label">{{ field.label }}</label>
          <div class="col-sm-9">
            {{ field }}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
              <label class="control-label">{{ error }}</label>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
</div>


{% endblock %}


{% block float %}{% endblock float %}


{% block afterbody %}
<script type="text/javascript">
    $(function() {
        $("#id_old_password").focus();
    });

    $(".close").click(function() {
        $(".close").parent().hide();
    });

</script>
{% endblock afterbody %}
