{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block content %}

<div class="docs-section center">
    <h6 class="docs-header">Sign Up</h6>

    <form action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-danger{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <p class="help-block help-text">{{ field.help_text|safe }}</p>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label help-text">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">Create an account</button>
    </form>
</div>


{% endblock %}

{% block afterbody %}
<script type="text/javascript">
    $(function() {
        $("#id_username").focus();
    });
 </script>
 {% endblock %}

{% block float %}{% endblock float %}
