{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tag.css' %}">
{% endblock %}

{% block content %}

<div class="docs-section center">
    <h2 class="title" style="margin-bottom:4rem">Interests</h4>
    {% for tag, count in shuffled_tags %}
     <a class="tags tag-{{ count }}" href="{% url 'tag' tag %}" style="display:inline-block;padding:0 3px;">{{ tag }}</a>
    {% endfor %}
</div>

{% endblock %}

{% block afterbody %}
{% endblock %}
