<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <title>{{room.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/7229a98830.css">
</head>

<body>

    <div class="docs-section center">
        <i class="fa fa-ban fa-5x" aria-hidden="true"></i>
        <h2 class="docs-header">This room is private</h2>
        <p class="quiet">{{room}}</p>
        <a class="button" href="{{prev}}">return back</a>
    </div>

    <script type="text/javascript" src='{% static "js/jquery-1.12.3.min.js" %}'></script>
</body>

</html>
