# Bleeding edge Django
Django

# Configuration
Unipath
python-decouple

# Images
Pillow

# Python-MYSQL Database Adapter
mysqlclient

# Redis support
django-redis
asgi-redis

# Extension tools
django-extensions

# channels
channels==0.17.3
daphne==0.15.0

# Random string generator like heroku
haikunator
